<div>
    <h1>FRANQUICIAS</h1>
    <h5>
        El AZULEÑO es una de las cadenas nacionales de franquicias gastronómicas más importantes del país, con más de 90 puntos de venta en Argentina.    
        
    </h5>  
    <h5>
        Opera dos tipos de negocios:
        
        
    </h5>
    <h6>
        – LOCAL CON DELIVERY:
        El tradicional local en el barrio donde llega a todos los hogares del país.
    </h6>
    <h6>
        – GONDOLA EN SHOPPINGS Y CENTROS COMERCIALES:
        Especialmente en zonas de alto transito y adaptándose a múltiples espacios y formas de negocios como shoppings, subtes y supermercados.

    </h6>
    <h6>
        ¿Querés formar parte del sistema de franquicias de El Noble?
        
    </h6>
    <h6>
        Escribinos a consultas@elnoble.com.ar
    </h6>
</div> 