<div>
    <h1>FRANQUICIAS</h1>
    <p>
        El Noble es una de las cadenas nacionales de franquicias gastronómicas más importantes del país, con más de 90 puntos de venta en Argentina.    
        
    </p>  
    <p>
        Opera dos tipos de negocios:
        
        
    </p>
    <p>
        – LOCAL CON DELIVERY:
        El tradicional local en el barrio donde llega a todos los hogares del país.
    </p>
    <p>
        – GONDOLA EN SHOPPINGS Y CENTROS COMERCIALES:
        Especialmente en zonas de alto transito y adaptándose a múltiples espacios y formas de negocios como shoppings, subtes y supermercados.

    </p>
    <p>
        ¿Querés formar parte del sistema de franquicias de El Noble?
        
    </p>
    <p>
        Escribinos a consultas@elnoble.com.ar
    </p>
</div> 