.img-thumbnail{
    width: 200;
}
h1{
    color: grey;
}
table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

.quantity{
	width: 150px;
}
/*th, td{
	padding: 5px;
}*/

thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}

/*tr:nth-child(even){
	background-color: #ddd;
}*/

tr:hover td{
	background-color: #369681;
	color: white;
}

.tick{
    width: 20px;
}

.clearance{
	border: 5px solid orangered;
	background-color: lightsalmon;
}

input {
    max-width: 40px;
}

th, td{
	vertical-align: middle;
	text-align: center;
}
