<div><img src="assets/img/logo.png" alt="El Azuleño" class="logo"></div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']">Contacto</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/productos']">Productos</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="showFaq">FAQ</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="page-footer font-small blue pt-4">
<div class="container-fluid text-center text-md-left">
    <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
            <h5 class="text-uppercase">EL AZULEÑO</h5>
            <p>Sitio realizado por Diego Vásquez y Juan Mauro.</p>
            <p>Web 2 - Cursada 2020 - TUDAI </p>
            <p>Facultad de Ciencias Exactas - UNCPBA</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">SECCIONES</h5>
            <ul class="list-unstyled">
            <li><a href="showHome">Home</a></li>
            <li><a href="Pedidos">Pedidos</a></li>
            <li><a href="Productos">Productos</a></li>
            <li><a href="showFaq">FAQ</a></li>          
            </ul>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">REDES SOCIALES</h5>
            <ul class="list-unstyled">
                <li> <a href="http://www.twitter.com/elazuleniocomidas"><img src="assets/img/logotwitter.png" class="logosredes"> Twitter </a></li>
                <li> <a href="http://www.instagram.com/elazuleniocomidas"><img src="assets/img/logoinstagram.png" class="logosredes"> Instagram </a></li>
                <li> <a href="http://www.Facebook.com/elazuleniocomidas"><img src="assets/img/logofacebook.png" class="logosredes"> Facebook </a></li>
                <li> <a href="http://www.Youtube.com/elazuleniocomidas"><img src="assets/img/logoyoutube.png" class="logosredes"> Youtube </a></li>
            </ul>
        </div>
    </div>
</div>
</footer>